.wpcr-admin-logo {
	display: table-cell;
	padding: 0.5rem;
	vertical-align: middle;
}

.wpcr-admin-title {
	display: table;
}

.wpcr-admin-title_text {
	display: table-cell;
	vertical-align: middle;
}

.wpcr-save-button {
	background: #cd261e !important;
	border: none !important;
	color: #fff !important;
}

